#!/usr/bin/env xdg-open
#ManageLauncher_Version=1.3
[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=OnlineSearch
Comment=
Exec=/home/matthias/PycharmProjects/Projects/onlinesearch/onlinesearch.py
Path=/home/matthias/PycharmProjects/Projects/onlinesearch/
Icon=/opt/create-launcher/Icons/face-glasses.png
Categories=Network;
